* {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
}

#app {
  width: 200vh;
  height: 200vh;
  padding: 12px;
}

.father {
  margin: 60px 120px;
  width: 600px;
  padding: 200px 60px;
  border: dashed 1px #ccc;
}

.block {
  position: absolute;
  width: 220px;
  height: 64px;
  padding: 10px;
  border-radius: 2px;
  background-color: cadetblue;
  color: #fff;
}

.father :nth-child(2n + 3) {
  background-color: pink;
}

pre {
  position: relative;
  background-color: #f6f8fa;
  color: #24292e;
  font-size: 14px;
  line-height: 20px;
  border-radius: 4px;
  padding: 24px 60px;
  margin: 24px 120px;
  width: 600px;
}

pre::after {
  content: attr(data-index);
  font-size: 20px;
  position: absolute;
  top: 12px;
  left: 12px;
}
