* {
  margin: 0;
  padding: 0;
}

body {
  overflow: auto;
}

#app {
  width: 300vh;
  height: 300vh;
}

.father {
  margin: 120px;
  width: 600px;
  padding: 200px 60px;
  border: dashed 1px #ccc;
}

.block {
  position: absolute;
  width: 220px;
  height: 64px;
  padding: 10px;
  border-radius: 2px;
  background-color: cadetblue;
  color: #fff;
}
